{:paths ["src/main"]
 :deps {org.clojure/clojure       {:mvn/version "1.10.3"}
        org.clojure/clojurescript {:mvn/version "1.10.914"}
        org.apache.jena/jena-core {:mvn/version "4.6.1"}
        org.apache.jena/jena-arq  {:mvn/version "4.6.1"}
        com.yetanalytics/flint    {:mvn/version "0.2.0"
                                   :exclusions [org.clojure/clojure
                                                org.clojure/clojurescript]}}
 :aliases
 {:test {:extra-paths ["src/test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                            :git/sha "dfb30dd"}
                      cloverage/cloverage {:mvn/version "1.2.2"}}}
  :run {:exec-fn   cognitect.test-runner.api/test
        :exec-args {:dirs ["src/test"]}}
  :cov {:exec-fn   cloverage.coverage/run-project
        :exec-args {:src-ns-path  ["src/main"]
                    :test-ns-path ["src/test"]}}}}
